.businessView {
  display: flex;
  justify-content: space-around;
  font-size: large;
}

.bigDiv3 {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.leftDiv3 {
  border: 3px solid black;
}

.middleDiv3 {
  border: 3px solid red;
}

.rightDiv3 {
  border: 3px solid blue;
}

.div3 {
  margin-bottom: 15px;
}

.ui.segment.price3 {
  font-size: large;
  background-color: rgb(244, 247, 71);
  color: black;
}

.testButton3 {
  height: fit-content;
}
